body {
  background-image: url("main3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* This makes the image fixed */
  font-family: Arial, sans-serif;
}
#calculator {
  width: 400px;
  margin: 5rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}

input[type="text"] {
  width: 85%;
  padding: 15px;
  margin-bottom: 10px;
  border: solid;
  border-radius: 3px;
  border-color: black;
  font-weight: 400;
}
input[type="button"] {
  width: 20%;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  border: solid;
  border-radius: 3px;
  border-color: black;
}
